<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Application</title>
</head>
<body>
	<header>
		<h1>Cripto Panel</h1>
	</header>
	<div class="card-container">
		<% criptos.forEach((item)=>{ %>
			<div class="card">
				<img src="<%= item.imgUrl %>" alt="">
				<h1><%= item.name%></h1>
				<div class="cripto-details">
					<p>Price: <span id="price"><%= item.price%></span></p>
					<p>Today %: <span id="max"><%= item.today%></span></p>
					<p>Today Price: <span id="min"><%= item.todayPrice%></span></p>
				</div>
				<a class="open-btn" target="_blank" href="<%= item.url %>">Open</a>
			</div>
		<% }); %>
	</div>
</body>
</html>